* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/*common*/

header {
   background-color: white;
   color: black;
   padding: 20px 0px;
   position: fixed;
   width: 100%;
   z-index: 5;
}

main {
   padding-top: 100px;
}

.container {
   max-width: 1700px;
   margin: 0 auto;
   display: flex;
}

.container-text-1 {
   width: 10%;
   text-align: left;

}

.container-text-2 {
   width: 40%;
   text-align: left;
   display: flex;
   align-items: center;
}

.container-text-3{
   width: 40%;
   text-align: right;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.container-text-4{
   width: 10%;
   text-align: right;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   align-content: center;

}

.button{
   color: white;
   background-color: #0061FE;
   padding: 10px;
}

.container-jumbo {
   max-width: 1180px;
   margin: 0 auto;
   padding-bottom: 0px;
   text-align: center;


}

.container-jumbo-left {
   width: 30%;
   position: relative;
   text-align: left;

}

.container-jumbo-right {
   width: 70%;
   position: relative;
}

.jumbo {
   display: flex;
}

.container-p-business {
   max-width: 1180px;
   margin: 0 auto;
   
}

.image{
   width: 756px;
   height: 438px;
   position: absolute;
   top: 38px;
   right: 58px;
}

.p{
   padding-top: 32px;
   font-size: 22px;
}

.button-2{
   color: white;
   background-color: #0061FE;
   padding: 10px;
   margin-top: 25px;

}

.arrow{
font-size: 45px;
position: absolute;
top: 340px;
right: 320px;

}

.h2{
   margin-top: 231px;
   font-size: 50px;
}

.Fatturation-button{
   max-width: 30%;
   
}

.radio-button-1{
width: 50%;


}

.radio-button-2{
   width: 50%;
   
}

.container-col{
   max-width: 1100px;
   height: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.col-30{
   width: 30%;
   border: 1px solid #D9D8DC;
}

.card{
   width: 100%;
   position: relative;
}

.col-head-1{
   width: 100%;
   border: 1px solid #D9D8DC ;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.button-3{
   color: white;
   background-color: #0061FE;
   padding: 10px;
   margin-top: 25px;
   width: 100%;
   

}

.hr{
   width: 20%;
   
}

.square{
   width: 100%;
   border: 2px dashed black;
}








/*utility*/

.bg-magenta {
   background-color: magenta;
}

.bg-jumbo {
   background-color: #B4D0E6
}

.bg-botton{
   background-color: #0061FE;

}

.bg-green{
   background-color: green;
}

.color-check{
   color: #0062FF;
}

.d-inline-block {
   display: inline-block;
}

hr {
   border: 1px solid #F7F7F7;
   padding: 0px;
}

ul {
   list-style-type: none;
}

.my-50 {
   margin-right: 50px;
}

.align-items{
   align-items: center;
}

.vertical-align{
   vertical-align: middle;
}

.font-size{
   font-size: 72px;
}

.font-size-col{
   font-size: 28px;
}

.d-flex{
   display: flex;
}

.py-50{
   padding-top: 45px;
}

.width-50{
   width: 50%;
}

.text-align{
   text-align: center;
}

.text-align-col{
text-align: left;
}


.my-top{
   margin-top: 25px;
}

.py-bottom-90{
   padding-bottom: 90px;
}

.flex-start{
   justify-content: flex-start;
}

.my-10{
   margin: 10px;
}

.my-general{
   margin: 30px;
}

.my-top-button{
   margin-top: 45px;
}

.my-right{
   margin-right: 5px;
}

.my-right-45{
   margin-right: 45px;
}


.my-left{
   margin-left: 45px;
}

.my-top-col{
   margin-top: 33px;
}

.my-bottom-col{
   margin-bottom: 20px;
}

.line-height{
   line-height: 32px;
}

.line-height-2{
   line-height: 50px;
}

.flex-wrap{
   flex-wrap: wrap;
}
